# src目录下的忽略规则
src/.vs/
src/*.suo
src/*.user
src/*.userosscache
src/*.sln.docstates
src/*.vcxproj.filters
src/ipch/

src/[Dd]ebug/
src/[Rr]elease/
src/CG2022114533汪维诚/
src/x64/
src/x86/
src/[Aa][Rr][Mm]/
src/[Aa][Rr][Mm]64/
src/bld/
src/[Bb]in/
src/[Oo]bj/
src/[Ll]og/
src/[Ll]ogs/

src/*.gch
src/*.pch

src/ipch/
src/*.aps
src/*.ncb
src/*.opendb
src/*.opensdf
src/*.sdf
src/*.cachefile
src/*.VC.db
src/*.VC.VC.opendb

src/.vs/

src/*.psess
src/*.vsp
src/*.vspx
src/*.sap

src/*.ilk
src/*.meta
src/*.obj
src/*.iobj
src/*.pdb
src/*.ipdb
src/*.pgc
src/*.pgd
src/*.rsp
src/*.sbr
src/*.tlb
src/*.tli
src/*.tlh
src/*.tmp
src/*.tmp_proj
src/*_wpftmp.csproj
src/*.log
src/*.vspscc
src/*.vssscc
src/.builds
src/*.pidb
src/*.svclog
src/*.scc

src/Thumbs.db
src/ehthumbs.db
src/Desktop.ini
src/$RECYCLE.BIN/
src/*.lnk

src/~$*
src/*~
src/*.bak
src/*.swp

src/*.exe
src/*.dll
src/*.so
src/*.dylib
src/*.lib
src/*.a
src/*.out
src/*.app

# 项目特定忽略
src/readme.txt
